<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title><%= current_site.the_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->
    <%= favicon_link_tag theme_asset_url("images/lt-favicon.ico") %>
    <%= stylesheet_link_tag theme_asset_path("css/main") %>
    <%= javascript_include_tag theme_asset_path("js/main.js") %>
    <%= raw the_head %>
</head>
<body>

    <!-- header -->
    <div data-component="sticky">
        <%= render theme_view('layouts/header') %>
    </div>
    <!-- ./header -->

    <div class="wrapper w80" id="max-wrapper">
        <%= yield %>
    </div>

    <!-- footer -->
    <footer class="row">
        <%= render theme_view('layouts/footer') %>
    </footer>
    <!-- ./footer -->

</body>
</html>
