<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title><%= current_site.the_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->
    <%= favicon_link_tag theme_asset_url("images/wh-favicon.ico") %>
    <%= stylesheet_link_tag theme_asset_path("css/main") %>
    <%= javascript_include_tag theme_asset_path("js/main.js") %>
    <%= raw the_head %>
</head>
<body>

    <!-- header -->

        <%= render theme_view('layouts/sidenav') %>

    <!-- ./header -->

    <div class="wrapper">
        <% if notice.present? %>
            <p class="message"><%= notice %></p>
            <% end %>

            <% if alert.present? || flash[:error] %>
            <p class="message error" data-component="message"><%= alert || flash[:error] %></p>
            <% end %>
        <div class="w80" id="inner-wrapper">
            <%= yield %>
        </div>
    </div>

</body>
</html>
