<h1>Thoughts</h1>

<div>

Select other categories: <%= render theme_view('partials/thought_categories'), post_type: @post_type %>
<br />

Filtered Category: <span class="label base focus"><%= @category.the_title %></span>

</div>

<% @category.the_posts.decorate.each do |thought| %>
    <%= link_to thought.the_url do %>
    <div class="thought hover">
        <h3><%= thought.the_title %></h3>
        <%= thought.the_excerpt %><br />
        <% thought.the_categories.decorate.each do |cat| %>
        <span class="label base focus"><%= cat.the_title %></span>
        <% end %>
    </div>
    <% end %>
<% end %>